fastapi
uvicorn[standard]
pydantic-settings
email-validator
SQLAlchemy
psycopg[binary]
python-dotenv
python-multipart
pypdf
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
alembic
openai
google-genai
